.reveal pre code {
  font-size: .7em;
  line-height: 125%;
}

.reveal .smaller pre {
  font-size: .6em;
  max-width: 80%;
}

.reveal .smallest pre {
  font-size: .5em;
  max-width: 70%;
}

li.large {
  font-size: 1.2em;
}
span.small {
  font-size: .9em;
}

ul.medium {
  font-size: .7em;
  line-height: 120%;
}

.reveal pre.medium code {
  font-size: .75em;
  line-height: 125%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


